<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h3 class="text-center">Phone Book</h3>
      </div>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group has-info has-feedback">
          <label for="seacrh" class="col-sm-2 control-label">Search: </label>
          <div class="col-sm-5">
            <input type="text" name="search" ng-model="vm.srchTxt" class="form-control">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in vm.contacts | filter:vm.srchTxt; ">
              <td><span ng-hide="contact.isEditing">{{contact.firstName}}</span><input text="text" class="form-control input-sm"
                  ng-model="contact.firstName" ng-show="contact.isEditing"></td>
                  <td><span ng-hide="contact.isEditing">{{contact.lastName}}</span><input text="text" class="form-control input-sm"
                      ng-model="contact.lastName" ng-show="contact.isEditing"></td>
              <td><span ng-hide="contact.isEditing">{{contact.phone}}</span><input text="text" class="form-control input-sm"
                  ng-model="contact.phone" ng-show="contact.isEditing"></td>
              <td><a href="#" ng-click="vm.deleteContact($index)"><span class="glyphicon glyphicon-trash"></span>&nbsp;</a>/<a
                  href="#" ng-click="vm.editContact(contact)" ng-hide="contact.isEditing"> <span
                    class="glyphicon glyphicon-edit"></span></a></a><a href="#" ng-click="vm.save(contact)"
                  ng-show="contact.isEditing">&nbsp;<span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <form class="form-inline">
        <div class="form-group">
          <span>First Name：</span>
          <input type="text" class="form-control" ng-model="vm.firstName">
        </div>
        <div class="form-group">
          <span>Last Name：</span>
          <input type="text" class="form-control" ng-model="vm.lastName">
        </div>
        <div class="form-group">
          <span>Phone：</span>
          <input type="text" class="form-control" ng-model="vm.phone">
        </div>
        <input type="button" class="btn btn-primary btn-sm" value="Add New Conatact" ng-click="vm.addNewContact()">
      </form>
    </div>
  </div>
</div>